.home-page {
    background-color: aqua;
}

.home-page .main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page .main-page .greeting {
    top: 20%;
}

.home-page .main-page .message-summary {
    top: 30%;
    font-size: 24px;
}

.home-page .main-page .view-messages-button {
    background-color: blue;
    width: 200px;
    height: 60px;
    top: 40%;
}

.home-page .main-page .view-messages-link {
    color: white;
}

